################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RebornRec/.vs/RebornRec
/RebornRec/bin/Debug/net8.0
/RebornRec/obj
